/dev/src/*.o

.DS_Store
*.xcodeproj/
!*.xcodeproj/project.pbxproj

/external/
/projects/
/material/
/build/

/dev/SDL-2.0.0-7295/

ipch/

dev/lobster/*.opensdf
dev/lobster/*.sdf
dev/lobster/*.suo
lobster/*.ilk
lobster/*.pdb
dev/lobster/*.vcxproj.user

.svn

dev/box2d/box2d/build/vs2010/bin/
dev/box2d/box2d/build/vs2010/obj/

lobster/builtin_functions_reference.html
lobster/lobsterDBG.exe
